#erreurCrea{
    color: white;
    background-color: red;
    border-radius: 10px;
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
}

#tableauMembres{
    width: 70%;
    margin: auto;
    border: solid black 1px;
}

#dashboardDropdown {
    width: 200px;
}

.dropdown-menu {
    max-height: auto; 
    overflow-y: auto;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #e4a121; 
    color: #000000;
}

.my-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}

#btnAffichageUser{
    margin-top: 10px;
    width: 30%;
}

#selectUserMail{
    width: 30%;
}

#top_admin{
    margin-top: 125px;
}

#inputEmprunt{
    width: 30%;
}

#affichagePret, #affichageRetour{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    height: 120px;
}

#affichageErrPret, #affichageErrRetour{
    background-color: red;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}
