/* CSS spécifique page INDEX */

div#searchResult {
    margin-bottom: 150px;
}

#txtOption {
    color: #000;
}

/* CARROUSEL */

.carousel h3 {
    text-align: left;
}

.carousel a {
    text-decoration: none;
    color: #E4A121;
}

.carousel{
    padding: 30px;
}

#dynCarrousel {
    height: 180px;
}

.carousel > img {
    height: 180px;
    width: 135px;
}

.carousel-item .carousel-caption {
    width: auto;
    text-align: left;
    top: auto;
    right: unset;
    left: 150px;
}

.carousel-inner > .carousel-item {
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
  
.carousel-inner > .carousel-item .active {
    opacity: 1;
}

.carousel-item:not(.active) > img {
    display: none;
}

.carousel-inner {
    width: 80%;
    margin: auto;
}

/* ZONE DE RECHERCHE */

.envoyer{
    background-color: #E4A121;
    border-style: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.filtres_recherche{
    color: #eee;
    margin: auto 0;
}

label{
    margin-right: 20px;
}

.filtres{
    color: #eee;
}

#work{
    background-color:#1A1B2C;
    border-style: none;
    color: white;
    border-radius: 5px;
}

/* RESULTATS DE RECHERCHE */

#searchResult img {
    height: 200px;
    width: 100%;
    object-fit: contain;
    padding-top: 4%;
}

#searchResult img:hover {
    cursor: pointer;
    object-fit: cover;
    padding-top: 0;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
}

#searchResult h3 {
    font-size: 1em;
    color: #222;
}

.filtres_recherche {
    width: max-content;
}

.filtres_recherche select {
    width: max-content;
}

/* #infos {
    z-index: 200;
    width: 90%;
    height: 90%;
    position: fixed;
    top: 100px;
    background-color: #eee;
}

#infos img {
    width: 50%;
} */